<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.dao.MmallShippingMapper">
  <resultMap id="BaseResultMap" type="org.seckill.entity.MmallShipping">
    <!--@mbg.generated-->
    <!--@Table mmall_shipping-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
    <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
    <result column="receiver_district" jdbcType="VARCHAR" property="receiverDistrict" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="receiver_zip" jdbcType="VARCHAR" property="receiverZip" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, receiver_name, receiver_phone, receiver_mobile, receiver_province, receiver_city, 
    receiver_district, receiver_address, receiver_zip, create_time, update_time
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update mmall_shipping
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.userId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="receiver_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.receiverName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="receiver_phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.receiverPhone,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="receiver_mobile = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.receiverMobile,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="receiver_province = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.receiverProvince,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="receiver_city = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.receiverCity,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="receiver_district = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.receiverDistrict,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="receiver_address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.receiverAddress,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="receiver_zip = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.receiverZip,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update mmall_shipping
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.userId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiverName != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.receiverName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver_phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiverPhone != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.receiverPhone,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver_mobile = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiverMobile != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.receiverMobile,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver_province = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiverProvince != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.receiverProvince,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver_city = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiverCity != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.receiverCity,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver_district = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiverDistrict != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.receiverDistrict,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver_address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiverAddress != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.receiverAddress,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver_zip = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiverZip != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.receiverZip,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mmall_shipping
    (user_id, receiver_name, receiver_phone, receiver_mobile, receiver_province, receiver_city, 
      receiver_district, receiver_address, receiver_zip, create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.userId,jdbcType=INTEGER}, #{item.receiverName,jdbcType=VARCHAR}, #{item.receiverPhone,jdbcType=VARCHAR}, 
        #{item.receiverMobile,jdbcType=VARCHAR}, #{item.receiverProvince,jdbcType=VARCHAR}, 
        #{item.receiverCity,jdbcType=VARCHAR}, #{item.receiverDistrict,jdbcType=VARCHAR}, 
        #{item.receiverAddress,jdbcType=VARCHAR}, #{item.receiverZip,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="org.seckill.entity.MmallShipping" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mmall_shipping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      user_id,
      receiver_name,
      receiver_phone,
      receiver_mobile,
      receiver_province,
      receiver_city,
      receiver_district,
      receiver_address,
      receiver_zip,
      create_time,
      update_time,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{userId,jdbcType=INTEGER},
      #{receiverName,jdbcType=VARCHAR},
      #{receiverPhone,jdbcType=VARCHAR},
      #{receiverMobile,jdbcType=VARCHAR},
      #{receiverProvince,jdbcType=VARCHAR},
      #{receiverCity,jdbcType=VARCHAR},
      #{receiverDistrict,jdbcType=VARCHAR},
      #{receiverAddress,jdbcType=VARCHAR},
      #{receiverZip,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      user_id = #{userId,jdbcType=INTEGER},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="org.seckill.entity.MmallShipping" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mmall_shipping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
      <if test="receiverPhone != null">
        receiver_phone,
      </if>
      <if test="receiverMobile != null">
        receiver_mobile,
      </if>
      <if test="receiverProvince != null">
        receiver_province,
      </if>
      <if test="receiverCity != null">
        receiver_city,
      </if>
      <if test="receiverDistrict != null">
        receiver_district,
      </if>
      <if test="receiverAddress != null">
        receiver_address,
      </if>
      <if test="receiverZip != null">
        receiver_zip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null">
        #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null">
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null">
        #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="receiverName != null">
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null">
        receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null">
        receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null">
        receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>