<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.product.mapper.MiaoshaUserMapper">
  <resultMap id="BaseResultMap" type="org.seckill.entity.MiaoshaUser">
    <!--@mbg.generated-->
    <!--@Table miaosha_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, nickname, `password`, salt, head, register_date, last_login_date, login_count
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update miaosha_user
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="nickname = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.nickname,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`password` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.password,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="salt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.salt,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="head = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.head,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="register_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.registerDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="last_login_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lastLoginDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="login_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.loginCount,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update miaosha_user
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="nickname = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.nickname != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.nickname,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`password` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.password != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.password,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="salt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.salt != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.salt,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="head = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.head != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.head,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="register_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.registerDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.registerDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="last_login_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lastLoginDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.lastLoginDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="login_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.loginCount != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.loginCount,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into miaosha_user
    (id, nickname, `password`, salt, head, register_date, last_login_date, login_count
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.nickname,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, 
        #{item.salt,jdbcType=VARCHAR}, #{item.head,jdbcType=VARCHAR}, #{item.registerDate,jdbcType=TIMESTAMP}, 
        #{item.lastLoginDate,jdbcType=TIMESTAMP}, #{item.loginCount,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="org.seckill.entity.MiaoshaUser">
    <!--@mbg.generated-->
    insert into miaosha_user
    (id, nickname, `password`, salt, head, register_date, last_login_date, login_count
      )
    values
    (#{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{head,jdbcType=VARCHAR}, #{registerDate,jdbcType=TIMESTAMP}, 
      #{lastLoginDate,jdbcType=TIMESTAMP}, #{loginCount,jdbcType=INTEGER})
    on duplicate key update 
    id = #{id,jdbcType=BIGINT}, 
    nickname = #{nickname,jdbcType=VARCHAR}, 
    `password` = #{password,jdbcType=VARCHAR}, 
    salt = #{salt,jdbcType=VARCHAR}, 
    head = #{head,jdbcType=VARCHAR}, 
    register_date = #{registerDate,jdbcType=TIMESTAMP}, 
    last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP}, 
    login_count = #{loginCount,jdbcType=INTEGER}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="org.seckill.entity.MiaoshaUser">
    <!--@mbg.generated-->
    insert into miaosha_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="head != null">
        head,
      </if>
      <if test="registerDate != null">
        register_date,
      </if>
      <if test="lastLoginDate != null">
        last_login_date,
      </if>
      <if test="loginCount != null">
        login_count,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="head != null">
        #{head,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null">
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginDate != null">
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCount != null">
        #{loginCount,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="head != null">
        head = #{head,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null">
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginDate != null">
        last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCount != null">
        login_count = #{loginCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>